

ul {
    display: flex;
    height: 95vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

li {
    font-size: 1.5rem;
    font-weight: bold;
    list-style: none;
    border: 1px solid gray;
    border-radius: 10px;
    height: 450px;
    width: 280px;
    text-align: center;
    background-color: #f7f7f7;
    padding-top: 10px;
    margin: 20px;
}

span {
    height: 100%;
    width: 100%;
    display: block;
}

span.i-html {
    background: url(0-sprite.png) no-repeat 0px 0px;
}

span.i-css {
    background: url(0-sprite.png) no-repeat -290px 0px;
}

span.i-js {
    background: url(0-sprite.png) no-repeat -580px 0px;
}
@media only screen and (max-width: 600px) {
    ul {
        display:flex;
        flex-direction: column;
        margin-bottom: 10px;
        
      
    }
    span {
        height: 100vh;
        width: 100%;
        display: block;
    }
}


/* version 2 with grid */


/* *, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
	font-weight: bold;
	font-size: 1.5rem;
}

ul {
	display: grid;
	place-items: center;
	list-style: none;
	height: 100vh;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
}

li {
	border: 2.5px solid #727272;
	background: #F7F7F7;
	border-radius: 10px;
	width: 300px;
	height: 450px;
    padding-bottom: 50px;
	display: grid;
	place-items: center;
	grid-template-rows: 1fr 2.5fr;
}

span {
	height: 100%;
	width: 220px;
	padding: 50px;
}

span.i-html {
	background: url('0-sprite.png') no-repeat -40px -90px;
}

span.i-css {
	background: url('0-sprite.png') no-repeat -320px -90px;
}

span.i-js {
	background: url('0-sprite.png') no-repeat -610px -90px;
} */